@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html{
    font-family: 'Lato', sans-serif;
}

.saveBtns{
    background-color: #63D3A9;
    color: white;
    font-weight: bold;
    border-color: #63D3A9;
}

.blueBtns{
    background-color: #758ECD;
    color: white;
    border-color: #758ECD;
}
.brandLogo{
    color: #63D3A9;
    font-weight: bolder;
}
.formInput{
    width: 50vh;
}

.question{
    border: solid 2px #41403E;
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}