@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html{
    font-family: 'Lato', sans-serif;
}

.saveBtns{
    background-color: #63D3A9;
    color: white;
    font-weight: bold;
    border-color: #63D3A9;
}
.brandLogo{
    color: #63D3A9;
    font-weight: bolder;
}